* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  width: 100%;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  margin-bottom: 20px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: linear-gradient(
    135deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  user-select: none;
  cursor: pointer;
  word-break: break-all;
}

ul li .text {
  font-size: 17px;
}

span.check {
  color: blue;
  text-decoration: line-through;
}

div > span {
  margin-right: 10px;
}

ul li .remove {
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li .remove:hover {
  background: #edeef0;
}

ul li div {
  display: flex;
  align-items: center;
  flex: 1;
}

span.unchecked {
  background-image: url(images/unchecked.png);
}

span.checked {
  background-image: url(images/checked.png);
}

span.unchecked,
span.checked {
  background-size: cover;
  height: 20px;
  width: 20px;
  display: inline-block;
  flex-shrink: 0;
}

@media only screen and (max-width: 640px) {
  .todo-app {
    margin: 50px auto;
    padding: 30px 15px 50px;
    max-width: none;
    width: auto;
  }
}

@media only screen and (max-width: 350px) {
  button {
    padding: 16px 25px;
    font-size: 14px;
  }
  input {
    padding: 10px 5px;
  }

  .todo-app {
    padding: 30px 10px 50px;
  }
}
